name: Publish to PyPI

on:
    push:
        tags:
            - "v*"

jobs:
    pypi-publish:
        name: Upload release to PyPI
        runs-on: ubuntu-latest
        # environment: pypi # Uncomment after creating the environment in GitHub Settings > Environments
        permissions:
            id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

        steps:
            - uses: actions/checkout@v4

            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  version: "latest"
                  enable-cache: true

            - name: Build package
              run: uv build

            - name: Publish package distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
