name: Release Tag

on:
    push:
        branches:
            - main

jobs:
    release:
        runs-on: ubuntu-latest
        concurrency: release
        permissions:
            id-token: write
            contents: write

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  version: "latest"
                  enable-cache: true

            - name: Python Semantic Release
              uses: python-semantic-release/python-semantic-release@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
